body{
    margin: 0;
    overflow: hidden;
    
    
}
.window{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: rgba(0, 255, 255, 0);
    height: 900px;

    background-image: url("assests/1.png");
    z-index: -1;
    background-position: center;
    background-size: cover;
    width: 1400px;
}
.player{
    background-color: rgba(240, 248, 255, 0);
    z-index: 1;
    top: 500px;
    left: 500px;
    transform: scale(0.5);
    position: absolute;
    background-image: url("assests/character/idle.png");
    height: 120px;
    width: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.house{
    background-color: rgba(240, 248, 255, 0);

    background-image: url("assests/block.png");
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    transform: scale(1.5);
   
    position: absolute;
    top: -20px;
    left:640px;

}
.house.b{
    background-color: rgba(240, 248, 255, 0);

    top: 40px;
    left: 760px;
}
.big{
    background-color: rgba(240, 248, 255, 0);

    position: absolute;
    background-image: url("assests/objects/h.png");
    background-position: center;
    background-size: cover;
    
    height: 1226px;
    width: 989px;
    transform: scale(0.2);
    top: -500px;
    left: 450px;
}
.big.b{
    top: -350px;
    left: 700px;
}
.house.c{
    top: 190px;
    left: 1028px;
}
.tree{
    background-image: url("assests/objects/t.png");
    height: 150px;
    width: 95px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 250px;
    transform: scale(1.3);
    left: 1282px;
    
}
.tree.b{
    top: 285px;
    left: 1330px;
}
.start{
    background-image: url("assests/banner.jpg");
    background-size: cover;
    background-position:0px -100px;
    z-index: 999;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    position: absolute;
    align-items: center;
    place-content: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    height:100%;

    width:100%;
    background-color: rebeccapurple;

}

button{
    opacity: 0.7;
    font-size: xx-large;
    border-radius: 2rem;
    height: 100px;
    width: 200px;
}

.wall{
    z-index: -9;
    height: 500px;
    width: 1000px;
    position: absolute;
    top: -67px;
    left: 00px;
    background-image: url("assests/clouds/1.png");
    background-size: contain;
    background-position: center;
    transform-origin: 0% 23%;
    transform: rotate(-5deg)translate(-150px,20px) skew(2deg, -25deg);
}
.wall.b{
    background-image: url("assests/clouds/2.png");
    left: -289px;
    top: 100px;
}

.r-wall{
    z-index: -9;
    height: 500px;
    width: 500px;
    position: absolute;
    top: -200px;
    left: 890px;
    background-image: url("assests/clouds/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-31deg) skew(-22deg, 60deg);


}
@keyframes cloud {
    0%{

        top: -475px;
        left: 300px;

    }
    100%{
        top: -140px;
        left: 910px;
    }
    
}
.r-wall.b{
    opacity: 0.8;
    z-index: -8;
    background-image: url("assests/clouds/3.png");

    height:400px;
    width: 576px;
    background-size: cover;
    animation: cloud 120s infinite forwards;
    



}
